#block-webform-client-block-20 {
  background-color: $white;

  .webform-client-form {
    max-width: 790px;
    margin: 0 auto;
    padding: 1.45% 15px 4.7%;
    background-color: $white;

    @include mq(1050px, max) {
      padding: 18px 15px 4.7%;
    }

    @include mq(840px, max) {
      max-width: 550px;
    }

    @include mq(569px, max) {
      max-width: 320px;
    }

    div {
      @include clearfix;
    }
  }

  .webform-component {
    margin-bottom: 18px;
  }

  label {
    font-family: $open-sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    color: $very-gray;

    span {
      font-size: 17px;
      color: $very-gray;
    }
  }

  input {
    width: 100%;
    padding-left: 22px;
    height: 56px;
    border: 2px solid $low-gray;

    @include mq(569px, max) {
      height: 50px;
    }

    ::placeholder {
      font-family: $open-sans;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      color: $middle-gray;

      @include mq(569px, max) {
        font-size: 14px;
      }
    }
  }

  .fullname {
    width: 100%;
  }

  .type-room {
    width: 100% !important;
    min-width: none;
    height: 56px;
    padding-left: 22px;
    background: $very-white;
    border: 2px solid $low-gray;

    .selectBox-label {
      width: 100% !important;
      padding: 1% 0 0 0;
      font-family: $open-sans;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 2.7em;
      color: $middle-gray;
      background: $very-white;
      border: none;
    }

    .selectBox-arrow {
      width: 10%;
      top: 0;
      right: 0;
      background: url("../img/down_2.png") no-repeat 50% 50% $very-white;
      border-left: none;
    }
  }

  .arrival-date, .departure-date, .arraival-time, .departure-time, .webform-component-email, .phone {
    float: left;
    width: 48.028%;
    font-family: $open-sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    color: $middle-gray;

    @include mq(569px, max) {
      font-size: 14px;
      width: 100%;
    }
  }

  .arrival-date, .departure-date, .phone {
    margin-right: 30px;

    @include mq(840px, max) {
      margin-right: 20px;
    }

    @include mq(569px, max) {
      margin-right: 0;
    }

    .webform-calendar {
      width: 100%;
    }
  }

  .arraival-time, .departure-time {

    .webform-container-inline {
      display: flex;
      align-items: center;
      width: auto !important;
      height: 56px;
      padding-left: 22px;
      font-family: $open-sans;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      color: $middle-gray;
      background: $very-white;
      border: 2px solid $low-gray;

      @include mq(569px, max) {
        height: 50px;
        font-size: 14px;
      }
    }

    .selectBox-arrow {
      display: none;
    }
  }

  .hour, .minute {
    width: 100% !important;
    min-width: auto !important;
    padding: 0;
    line-height: 4.2em;
    border: none;
    background: transparent;
    box-shadow: none;

    .selectBox-label {
      width: auto !important;
      display: block;
    }
  }

  .form-actions {
    float: left;
    width: 100%;
    text-align: center;
  }

  .webform-submit {
    max-width: 33.5%;
    padding: 1em 4em;
    font-family: $open-sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
    background: $green;
    border: none;
    outline: none;

    @include mq(840px, max) {
      max-width: 50%;
    }

    @include mq(600px, max) {
      max-width: none;
    }

    @include mq(569px, max) {
      font-size: 14px;
    }

    &:hover {
      background-color: $very-gray;
      color: $white;
    }
  }

  .form-item-submitted-arrival-time-hour, .form-item-submitted-arrival-time-minute,
  .form-item-submitted-time-of-departure-hour, .form-item-submitted-time-of-departure-minute {
    display: inline-block;
  }

  .form-item-submitted-arrival-date-month, .form-item-submitted-arrival-date-day, .form-item-submitted-arrival-date-year,
  .form-item-submitted-date-of-departure-month, .form-item-submitted-date-of-departure-day,
  .form-item-submitted-date-of-departure-year {
    display: none;
  }
}

.section-booking {
  .block-title-wrapper {
    padding: 76px 0 42px;
    text-align: center;
    background: $very-white;
  }

  .block-webform {
    .block-title-wrapper {
      text-align: center;
      padding: 4.2% 0 2.65%;
      margin: 0;

      @include mq(840px, max) {
        padding: 4.2% 0 4.2%;
      }

      @include mq(400px, max) {
        padding: 4.2% 0 6%;
      }

      h2 {
        margin-bottom: 1.44%;

        @include mq(600px, max) {
          margin-bottom: 3.44%;
        }
      }
    }

    h4 {
      font-family: $open-sans;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: 0;
      color: $very-gray;
      margin: 0;

      @include mq(1240px, max) {
        font-size: 15px;
      }

      @include mq(640px, max) {
        font-size: 14px;
      }
    }
  }
}
