#bottom-region {
  padding: 5.3% 0 4% 0;
  text-align: center;
  background: $mega-gray;

  .block-block {
    display: inline-block;
    font-family: $open-sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    color: $white;
    text-decoration: none;

    a {
      display: block;
      margin-bottom: 20px;
      color: $very-white;
      text-decoration: none;

      &:hover {
        color: $green;
      }

      @include mq(600px, max) {
        font-size: 14px;
      }
    }

    b {
      display: block;
      margin-bottom: 25px;
      font-size: 17px;

      @include mq(600px, max) {
        font-size: 16px;
      }
    }

    p {
      text-align: center;
    }
  }
}
